<div class="navbar justify-content-between" style="background: white">
<%= link_to cocktails_path, style: 'text-decoration: none;' do %><%= image_tag "cocktail.png", class: "avatar"%> Home
  <% end %>
</div>
